:root {
  /* primary */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan-graphic-design-text: hsl(167, 40%, 24%);
  --dark-blue-photography-text: hsl(198, 62%, 26%);
  --dark-moderate-cyan-footer: hsl(168, 34%, 41%);
  /* neutral */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}
/* globales */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  position: relative;
  font-family: 'Barlow', Arial, Helvetica, sans-serif;
}
h1, h2, h3 {
  font-family: 'Fraunces', Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
ul {
  display: flex;
  align-items: center;
}
li {
  margin-left: 45px;
  list-style: none;
}
/* parte del header */
.menu-mobile {
  display: none;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: var(--dark-grayish-blue); */
  width: 100%;
  height: 100px;
  padding: 0 30px;
}
header .menu-desktop {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .menu-desktop nav ul li a{
  font-size: 1.4rem;
  color: white;
}
header .menu-desktop nav ul li button {
  background-color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 15px;
  font-family: 'Fraunces', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
}
header .menu-desktop .logo img {
  width: 150px;
}
/* parte del hero main */
.main-hero-container {
  width: 100%;
  height: 100vh;
  background-image: url('./images/desktop/image-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-hero-container h1 {
  color: white;
  font-size: 7rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 10px;
  margin-bottom: 150px;
}
.main-hero-container img {
  margin-bottom: 200px;
}

/* cards section */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 600px);
  width: 100%;
  margin: 0 auto;
}
.main-egg-container {
  overflow: hidden;
  grid-column: 1 / 3;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
}
.main-egg-container .text-container, .main-egg-container .image-container{
  width: 50%;
  min-width: 350px;
  overflow: hidden;
}
.main-egg-container .image-container img {
  width: 100%;
  object-fit: cover;
}
.main-egg-container .text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.main-egg-container .text-container .text-items {
  width: 50%;
  min-width: 350px;
}
.main-egg-container .text-container h2 {
  font-size: 3.5rem;
  font-weight: 900;
  margin-bottom: 30px;
}
.main-egg-container .text-container p {
  color: var(--dark-grayish-blue);
  font-size: 1.6rem;
  line-height: 25px;
  margin-bottom: 30px;
}
.main-egg-container .text-container a {
  font-family: 'Fraunces', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 900;
  margin-left: 5px;
}
.main-egg-container:nth-child(2) {
  grid-column: 1 / 3;
  flex-direction: row;
}
.mobile-image {
  display: none;
}
/* partes de los design */
.main-graphic-design {
  position: relative;
  overflow: hidden;
}
.main-graphic-design img {
  width: 100%;
}
.main-graphic-design div {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  min-width: 350px;
  text-align: center;
  color: var(--dark-desaturated-cyan-graphic-design-text)
}
.main-graphic-design .photografy {
  color: var(--dark-blue-photography-text);
}
.main-graphic-design div h2 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 30px;
}
.main-graphic-design div p {
  font-size: 1.6rem;

}
/* testimonials section */
.client-testimonials-container {
  margin-top: 150px;
  text-align: center;
}
.client-testimonials-container h2 {
  font-size: 3rem;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--grayish-blue);
}
.client-testimonials-container .testimonials-flex {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 150px;
}
.client-testimonials-container .testimonials-flex .item {
  width: 350px;
}
.client-testimonials-container .testimonials-flex .item img {
  border-radius: 50%;
  width: 80px;
  margin-bottom: 50px;
}
.client-testimonials-container .testimonials-flex .item p {
  font-size: 1.6rem;
  line-height: 25px;
  color: var(--very-dark-grayish-blue);
  margin-bottom: 50px;
}
.client-testimonials-container .testimonials-flex .item h3 {
  font-size: 1.6rem;
  font-weight: 900;
  margin-bottom: 10px;
}
.client-testimonials-container .testimonials-flex .item span {
  color: var(--grayish-blue);
  font-size: 1.2rem;
}
/* images section */
.images-section-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.images-section-container div {
  height: 447px;
  width: 25%;
  overflow: hidden;
}
.images-section-container div img {
  width: 100%;
}
/* footer section */
footer {
  background-color: #8fd6c8;
  display:  flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .logo {
  margin-top: 50px;
}
footer .logo img {
  width: 150px;
}
footer .contact-section {
  margin-top: 50px;
}
footer .contact-section a {
  font-size: 1.6rem;
  color: #2C7566;
  margin-right: 30px;
}
footer .social-media-section {
  margin-top: 50px;
  margin-bottom: 50px;
}
footer .social-media-section a {
  margin-right: 20px;
}
footer .contact-section a:nth-of-type(3), footer .social-media-section a:nth-of-type(4) {
  margin: 0;
}

/* media queries */

@media (max-width: 1540px) {
  /* hero container */
  .main-hero-container h1 {
    margin-bottom: 100px;
  }
  .main-hero-container img {
    margin-bottom: 150px;
  }
}
@media (max-width: 1280px) {
  /* hero container */
  .main-hero-container h1 {
    margin-bottom: 50px;
  }
  .main-hero-container img {
    margin-bottom: 100px;
  }
  .grid-container {
    grid-template-rows: repeat(3, 500px);
  }
}
@media (max-width: 1000px) {
  .grid-container {
    grid-template-rows: repeat(3, 400px);
  }
  .main-graphic-design div, .main-graphic-design .photografy {
    bottom: -20px;
  }
}
@media (max-width: 860px) {
  .main-hero-container {
    height: 70vh;
    background-image: url('./images/mobile/image-header.jpg');
  }
  .main-hero-container h1 {
    font-size: 4rem;
    text-align: center;
    letter-spacing: 8px;
  }
  .main-hero-container img {
    margin-bottom: -10px;
  }
  .menu-mobile {
    display: block;
  }
  header .menu-desktop {
    display: none;
  }
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .main-egg-container {
    flex-direction: column;
    grid-column: 1 / 2;
  }
  .main-egg-container:nth-child(2) {
    flex-direction: column;
    grid-column: 1 / 2;
  }
  .main-egg-container .text-container, .main-egg-container .image-container {
    width: 100%;
  }
  .mobile-image {
    display: block;
  }
  .desktop-image {
    display: none;
  }
  .main-egg-container .text-container .text-items {
    margin: 50px 0;
    text-align: center;
  }
  .main-graphic-design div p {
    line-height: 25px;
  }
  .client-testimonials-container {
    margin-top: 50px;
  }
  .client-testimonials-container h2 {
    font-size: 1.6rem;
    letter-spacing: 5px;
  }
  .client-testimonials-container .testimonials-flex {
    flex-direction: column;
    margin: 50px 0;
  }
  .client-testimonials-container .testimonials-flex .item {
    margin-bottom: 50px;
  }
  .images-section-container div {
    width: 50%;
    height: auto;
  }
}
@media (max-width: 540px) {}
